*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pirata One', cursive;
	/*font-family: 'Redressed', cursive;*/
}
html,body{
	width: 100%;
}
h2, p, small, span, label{
	cursor: default;
}
.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.btn1{
	font-size: 23px;
	color: white;
	font-style: italic;
	font-weight: bold;
	background: #EB2D2D;
	text-decoration: none;
	display: block;
	line-height: 40px;
	text-align: center;
	border-bottom: 5px solid #B21E1E;
	border-right: 3px solid #B21E1E;
	border-radius: 10px 10px 0 10px;
}
header{
	padding: 20px 2% 35px 2%;
	height: 130px;
}
.logo{
	float: left;
}
.mobile{
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-image: url(../Images/icon_menu.png);
	background-size: 100% 100%;
	cursor: pointer;
	margin-top: 35px;
}
.mobile ul{
	display: none;
	z-index: 9999;
	width: 100%;
	position: absolute;
	left: 0;
	top: 130px;
	text-align: center;
	background: white;
	list-style-type: none;
	border-bottom: 3px solid #EB2D2D;
}
.mobile ul li{
	border: 1.5px solid #000000;
	font-size: 23px;
	padding: 20px 0;
	font-style: italic; 
}
.mobile a{
	color: black;
	text-decoration: none;
}
.desktop{
	float: right;
	position: relative;
	top: 30px;
}
.desktop ul{
	list-style-type: none;
}
.desktop ul li{
	float: left;
	font-size: 23px;
	padding: 0 20px;
	font-style: italic;
}
.desktop a{
	color: black;
	text-decoration: none;
}
.line{
	position: relative;
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
}
.line  h2{
	position: relative;
	background: white;
	display: inline-block;
	padding: 0 20px;
	text-align: center;
	font-size: 54px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 500;
}
.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	top:35px;
}
.w100{
	width: 100%;
}
.w50{
	width: 50%;
}

footer{
	padding: 40px 2%;
	background: #252525;
}
footer nav{
	float: left;
}
footer nav ul{
	list-style-type: none;
}
footer nav ul li{
	float: left;
	font-size: 20px;
	font-style: italic;
	padding: 0 25px;
}
footer nav a{
	color: white;
	text-decoration: none;

}
footer p{
	float: right;
	color: white;
	font-size: 25px;
	font-family: 'Redressed', cursive;
	font-style: italic;
}
.destaque{
	padding: 20px 2% 90px 2%;
}
.line{
	position: relative;
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
}
.line  h2{
	position: relative;
	background: white;
	display: inline-block;
	padding: 0 20px;
	text-align: center;
	font-size: 54px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 500;
}
.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	top:35px;
}
.destaque .container{
	max-width: 1200px;
	padding: 40px 0;
}
.vitrine{
	float: left;
	width: 33.3%;
}
.vitrine .img_car{
	width: 100%;
	padding-top: 95%;
	background-size: 100% 100%;
	border: 5px solid white;
}
.info h2{
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	padding-left: 5px;
}
.info p{
	font-family: 'Redressed', cursive;
	padding-left: 5px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
	padding-top: 8px;
}
.info a{
	margin-left: 5px;
	margin-top: 10px;
	color: white;
	font-style: italic;
	font-weight: bold;
	width: 150px;
	background: #EB2D2D;
	text-decoration: none;
	display: block;
	line-height: 40px;
	text-align: center;
	border-bottom: 5px solid #B21E1E;
	border-right: 3px solid #B21E1E;
	border-radius: 10px 10px 0 10px;
}
.contato{
	padding: 20px 2% 20px 2%;
}
.contato form{
	max-width: 600px;
	margin: 20px auto 20px auto;
}
.contato .input{
	float: left;
	padding: 10px;
}
.contato input[type = text], .contato input[type = email]{
	width: 100%;
	border: 1px solid #CCC;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	margin-top: 15px;
}
.w100{
	width: 100%;
}
.w50{
	width: 50%;
}
.contato textarea{
	width: 100%;
	border: 1px solid #CCC;
	height: 120px;
	padding: 8px;
	resize: none;
}
.contato form div:last-of-type{
	text-align: center;
}
.contato input[type = submit]{
	border-left: 0;
	border-top: 0;
	padding: 0 25px;
	cursor: pointer;
	display: inline-block;
}
.venda_single{
	padding: 50px 2% 0 2%;
}
.venda_single .container{
	padding: 50px 0 0 0;
	text-align: center;
	max-width: 1200px;
}
.info_veicolo{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.descricao_veicolo{
	display: inline-block;
	padding: 50px 20px;
}
.img_veicolo{
	width: 98%;
	padding-top: 80%;
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}
.descricao_veicolo p{
	font-family: 'Redressed', cursive;
	padding-left: 5px;
	color: #353535;
	font-size: 22px;
	font-style: italic;
	padding-top: 25px;
	max-width: 400px;
	text-align: left;
}
.descricao_veicolo a{
	margin-left: 25px;
	margin-top: 25px;
	padding: 0 25px;
	display: inline-block;
	vertical-align: bottom;
}
.nav_wraper{
	/* via JS*/
}
.nav_galeria{
	width: 100%;
	padding: 15px;
	margin-top: 15px;
	/*overflow: scroll;*/
	overflow: hidden;
}
.mini_wraper{
	cursor: pointer;
	float: left;
	padding: 5px;
	/*width: calc(33.3% * (100 / 200));*/
	/* 
	width via JS
	*/
}
.mini_img{
	background-position: center;
	background-size: cover;
	width: 100%;
	padding-top: 80%;
}
.nav_parent{
	width: 100%;
	padding: 36px;
	position: relative;
}
.arrow_left{
	position: absolute;
	left: 8px;
	top: 50%;
	background-image: url('../Images/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
	ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}
.arrow_right{
	position: absolute;
	right: 0;
	top: 50%;
	background-image: url('../Images/arrow-right.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
	ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}
.bread{
	float: left;
	padding: 10px 0;
}
.bread a {
	text-decoration: none;
	color: black;
}
.bread a:last-child{
	color: #EB2D2D;
}
.bread span{
	padding: 0 15px;
}









@media (max-width: 1200px){
	.btn1{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}

@media (max-width: 1024px){
	
}
@media (max-width: 800px){
	
}
@media (max-width: 768px){
	/* nav */
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	/* nav */
	/* vitrine venda*/
	.sidebar{
		width: 100%;
		text-align: center;
	}
	.search1{
		display: inline-block;
	}
	.search2{
		display: inline-block;
		text-align: left;
	}
	.vitrine_venda{
		float: left;
		width: 100%;
		text-align: center;
	}
	.info a{
		display: inline-block;
	}
	/* vitrine venda */
	/* footer */
	footer{
		text-align: center;
	}
	footer nav{
		display: none;
	}
	footer p{
		float: none;
	}
	/* footer */
	.info_veicolo{
		width: 100%;
	}
	.descricao_veicolo{
		text-align: center;
	}
	.descricao_veicolo a{
		display: inline-block;
	}
	.descricao_veicolo p{
		text-align: center;
	}

}
@media (max-width: 580px){
	/* vitrine venda */
	.vitrine{
		width: 100%;
	}
	.info h2{
		width: 100%;
		height: 20px;
	}
	.info p{
		padding-top: 15px;
		width: 100%;
		height: 15px;
	}
	.info a{
		margin-top: 25px;
	}
	/* vitrine venda */
}